nav {
  background: hsla(211, 96%, 62%, 1);
  background: linear-gradient(90deg, hsla(211, 96%, 62%, 1) 0%, hsla(295, 94%, 76%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(211, 96%, 62%, 1) 0%, hsla(295, 94%, 76%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(211, 96%, 62%, 1) 0%, hsla(295, 94%, 76%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#439CFB", endColorstr="#F187FB", GradientType=1 );
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  height: 75px;
  width: 100%;
}

nav > a {
  font-size: 32px;
  font-weight: 500px;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: xx-large;
  color: rgba(255, 242, 0, 0.995);
  font-size: 50px;
}


